html, body {
    background-color: #fff;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: black;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#menu{
  justify-content: center
}

#login_user{
  text-align: right;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

#top_row_1{
  height: 35px;
}

#language_switcher{
  text-align: right;
}

.form_btn{
  color: white;
  font-weight: bold;
  margin-left: 5px;
}

.form_btn_div{
  border: 1px solid white;
  border-radius: 3px;
}

#search_form{
  border-radius: 5px;
  padding: 5px;
  padding-left: 8px;
  margin: 5px;
  /*background-color: rgb(34, 144, 184);*/
}

.form-group > div{
  color : black;
  font-weight: bold;
}

#dataTable{
  font-weight: bold;
}

/*.table tbody tr:nth-child(4n+1), .table tbody tr:nth-child(4n+2) {
  background: rgb(238, 238, 238);
}*/

.table tbody tr:nth-child(4n+1){
  background: rgb(238, 238, 238);

.highlight{
  color : red;
}
