
/*.group-name{
  position:absolute;
  left:50px;
  display:block;
  float:left;
  width:25%;
}*/

.menu-button{
  /*margin-right:10px;
  margin-left:10px;*/
  font-size:50px;
}

.wrapper{
  margin:20px;
}

/*-----TOP-----*/
.table-pages{
  font-size:15px;
  letter-spacing:5px;
}

#sidebar-search{
  /*float:left;
  width:30%;*/
  width:330px;
  margin-left:25px;
}

#main-content{
  float:left;
  width:70%;
}


/*-----GROUPS-----*/
.contents{
  display:inline-block;
}

.content-buttons{
  float:left;
  position:absolute;
  top:0px;
  right:0px;
  width:auto;
  /*width:358px;*/
  display:block;
  /*s
  will-change:transform;
  top:0px;
  left:0px;
  transform:translate3d(360px, 0px, 0px);*/
}


.testBtn{
  float:left;
  width:25%
  display:block;
}

.testBtn button{
  font-size: 11px;
}

.dd-item{
  position:relative;
}
